body {
  background-image: url("https://media.istockphoto.com/vectors/vintage-record-player-with-retro-vinyl-disc-vector-id1125908333?k=20&m=1125908333&s=612x612&w=0&h=nT-pIxrbcJkaGqAdHNB7BeOqj393rvqIMo2MMHu7RIA=");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.container {
  margin: 5px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
}
.container2 {
  margin: 5px;
  display: flex;
  grid-gap: 4px;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
}

.box {
  height: 150px;
  border: 1px solid black;
  background-color: grey;
  transition-property: background-color;
  transition: 0.5s;
  transition-timing-function: linear;
  margin: 1px;
  border-radius: 1rem;
}
.btn {
  display: flex;
  background-color: black;
  color: whitesmoke;
  border-radius: 12rem;
  justify-content: center;
  cursor: crosshair;
}
