header {
  margin-left: 15%;
  font-size: x-large;
}
.CardDiv {
  border: solid red 10px;
  background-color: black;
  color: white;
  border-radius: 2rem;
  margin: 30px;
}
.heading {
  margin-left: 32%;
}
.imgUrl {
  position: relative;
  left: 10%;
  max-height: 80%;
  max-width: 80%;
  border-radius: 2rem;
}
.cardBody {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.title {
  font-size: x-large;
  position: relative;
  left: 25%;
  padding: 20px;
}

li {
  font-size: x-large;
  padding: 20px;
}
