header {
  margin-left: 15%;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
.CardDiv {
  border: solid rgb(5, 1, 1) 10px;
  /* background-color: black; */
  color: white;
  border-radius: 2rem;
  margin: 10%;
}
header {
  justify-content: center;
  display: flex;
  margin: 2em;
  font-size: 34px;
}
.imgUrl {
  justify-content: center;
  position: relative;
  left: 10%;
  max-height: 100%;
  max-width: 80%;
  border-radius: 2rem;
  border: solid black 4px;
}
.cardBody {
  display: flex;
  justify-content: center;
  list-style: none;
}
.title {
  justify-content: center;
  display: flex;
  font-size: 44px;
  font-weight: bold;
  padding: 3%;
  color: black;
}

li {
  display: flex;
  font-size: x-large;
  padding: 3%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.location {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 2rem;
  width: 20%;
  resize: both;
}
