.inputDiv {
  width: 30%;
  margin: auto;
}
.submitButton {
  width: 100%;
  background-color: grey;
}
.returnDiv {
  width: 30vw;
  height: 300px;
  margin: auto;
}
li {
  width: 200px;
  list-style: none;
  display: flex;
}
