* {
  margin: 0;
}
.flex-container {
  align-items: center;
  max-width: 80vw;
  display: block;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 3%;
  padding: 5%;
  font-size: 30px;
}
input {
  height: 15vw;
  width: 15vh;
}
p {
  text-align: center;
  font-family: "Bowlby One SC", cursive;
  font-size: 5.5vw;
}
#delete {
  position: absolute;
  left: 79%;
  top: 2vh;
  bottom: 11vh;
  width: 6vw;
  height: 6vh;
}
.deleteTest {
  position: relative;
}
#delete {
  background-color: red;
  background-image: url("https://cdn.iconscout.com/icon/premium/png-256-thumb/x-2036511-1740165.png");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  height: 8vh;
  width: 8vw;
}
