.RollDice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

/* Shows each dice in one row */
.RollDice-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* Stylling rolldice button */
button {
  background-color: transparent;
  border: none;
  cursor: grab;
  margin: 10px;
}
#RollDice {
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 3em;
  align-self: center;
}
#Reset {
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 3em;
  align-self: center;
}

/* Setting hover effect on button */
#RollDice:hover {
  cursor: pointer;
}
#Reset:hover {
  cursor: pointer;
}

.RollDice-rolling {
  border: 0px;
  border-radius: 10px;
  background-color: darkslateblue !important;
  opacity: 0.7;
}
#Reset {
  border: 0px;
  border-radius: 10px;
  background-color: red !important;
  opacity: 0.7;
}
