img {
  display: flex;
  max-width: 300px;
  grid-template-columns: 30% 30% 30%;
  border-radius: 2rem;
  /* background-color: #2196f3; */
  padding: 10px;
}
.imgName {
  color: blue;
  position: relative;
  right: 10%;
  bottom: 15%;
  font-size: 25px;
}
.header {
  display: flex;
  background-color: black;
  color: red;
  margin: auto;
  border-radius: 1rem;
  height: 400px;
}
.grid-item {
  background-color: #23303d;
  text-align: center;
}
.grid-container {
  display: grid;
  margin-top: 0.5%;
  grid-template-columns: 33% 33% 33%;
  background-color: #070c11;
  padding: 10px;
  list-style: none;
}
img {
  height: 300px;
  width: 300px;
}
