/* img {
  display: flex;

  width: 100%;
  border-radius: 2rem;
  background-color: #2196f3;
} */
* {
  background-color: black;
}
.imgName {
  font-size: 180%;
  color: red;
  position: absolute;
  left: 34%;
  bottom: 40%;
  background: rgba(0, 0, 0, 0.5);
}
.grid-container {
  border-radius: 1rem;
}
.headerImg {
  width: 20%;
  height: 100%;
}
.header {
  display: flex;
  background-color: black;
  color: red;
  margin: auto;
  border-radius: 1rem;
  height: 200px;
}
.grid-item {
  position: relative;
  background-color: #375c81;
  text-align: center;
}
.grid-container {
  display: grid;
  margin-top: 0.5%;
  grid-template-columns: 33% 33% 33%;
  background-color: #070c11;
  padding: 10px;
  list-style: none;
}
img {
  height: 60%;
  width: 60%;
}
